/* Screen resolution */

@media (max-width: 1920px) and (max-height: 1080px){
    h1{
        font-size: 75px;
        text-align: center;
    }
    .user{
        text-align: center;
    }
    h2{
        font-size: 40px;
        text-align: center;
    }
    .email{
        text-align: center;
    }
    p{
        font-size: 55px;
        text-align: center;
    }
    a{
        font-size: 50px;
    }
    .nav__link{
        font-size: 40px;
    }

    .pic img{
        width: 350px;
        height: 350px;
    }

    img{
        width: 300px;
        height: 350px;
    }
}


/*  Galaxy S5 */

@media (max-width: 360px) and (max-height: 640px){
    h1{
        font-size: 20px;
        text-align: center;
    }
    .user{
        text-align: center;
    }
    h2{
        font-size: 20px;
        text-align: center;
    }
    .email{
        text-align: center;
    }
    p{
        font-size: 10px;
        text-align: center;
    }
    a{
        font-size: 10px;  
    }
    .nav{
        width: 35%;
    }
    .nav__link{
        font-size: 20px;
    }
    .pic img{
        width: 50px;
        height: auto;
    }

    img{
        width: 50px;
        height: auto;
    }
}

/*  iPhone 6/7/8 */

@media (max-width: 375px) and (max-height: 667px){
    h1{
        font-size: 20px;
        text-align: center;
    }
    .user{
        text-align: center;
    }
    h2{
        font-size: 20px;
        text-align: center;
    }
    .email{
        text-align: center;
    }
    p{
        font-size: 10px;
        text-align: center;
    }
    a{
        font-size: 10px;  
    }
    .nav{
        width: 35%;
    }
    .nav__link{
        font-size: 20px;
    }
    .pic img{
        width: 50px;
        height: auto;
    }

    img{
        width: 50px;
        height: auto;
    }
}